@use "variables/variables";

// TODO: Add local variables for repeatitive code

// TODO: Finish this part, it was a previous experiment
// Start
p {
  color: variables.$color-black;
  color: variables.$color-green;
  z-index: 1;
}
.provisional {
  filter: variables.$color-black-svg;
  height: 11px;
}
// End

// GALLERY
.gallery {
  display: grid !important;
  grid-template-rows: 10 1fr;
}

.gallery__row {
  display: flex;
  flex-direction: row;
}

.gallery__item {
  width: 50px !important;
  // width: 50px;
}

// FOOTER STYLING
.footer {
  background-color: variables.$color-black;
  text-align: center;
  padding-bottom: 60px;
  transform: skewY(-10deg);
  rotate: 10deg;
}

.footer__header-icon {
  filter: variables.$color-green-svg;
  height: 7px;
  padding-bottom: 40px;
  // TODO: Spacing between characters
}

.footer__group--header {
  transform: skewY(10deg);
}

.footer__menu {
  transform: skewY(10deg);
  display: none;
}
.footer__header-title {
  color: variables.$color-green;
  font-size: 1.4rem;
  letter-spacing: 0.4rem;
  padding: 80px 0 20px 0;
}
.footer__header-title--linethrough {
  text-decoration: line-through;
  text-decoration-color: variables.$color-pink;
}
.footer__menu-item {
  color: variables.$color-white;
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
  line-height: 0.4rem;
  width: 120px;
}
.footer__menu-title {
  color: variables.$color-white;
  font-size: 1.1rem;
  letter-spacing: 0.3rem;
  padding-bottom: 25px;
}
.footer__menu-title--icons {
  padding-bottom: 5px;
}
.footer__menu-links {
  color: variables.$color-green;
  font-family: variables.$font-open-sans;
  font-size: 0.85rem;
  letter-spacing: 0.2rem;
  padding-bottom: 10px;
  display: inline-block;
}
.footer__menu-links:hover {
  color: variables.$color-pink;
}
.footer__menu-item:hover,
.footer__menu-item:active,
.footer__menu-item:target {
  color: variables.$color-pink;
  text-decoration-line: line-through;
}
.footer__menu-icon {
  height: 40px;
  margin: 2%;
}
.footer__menu-icon:hover {
  filter: variables.$color-pink-svg;
}
.footer__main {
  transform: skewY(10deg);
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}
.footer__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  width: auto;
  &.footer__group--left {
    align-items: flex-start;
  }
  &.footer__group--rigth {
    align-items: flex-end;
  }
}
.footer__section--icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 20px;
}

.icon--facebook {
  filter: variables.$color-green-svg;
}
.icon--instagram {
  filter: variables.$color-green-svg;
  padding-left: 20px;
  padding-right: 20px;
}
.icon--vimeo {
  filter: variables.$color-green-svg;
}

@media (max-width: variables.$breakpoint) {
  .footer {
    display: block;
  }

  .footer__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }
  .footer__section {
    align-items: center;
    justify-content: center;
    &.footer__group--left {
      align-items: center;
    }
    &.footer__group--rigth {
      align-items: center;
    }
  }

  .footer__section--icons {
    padding-top: 10px;
  }
}
